<div class="div1">
    <img src="https://dhondi.ai/logos/jntugv.png" width="150" height="150">
    <h3>JAWAHARLAL NEHRU TECHNOLOGICAL UNIVERSITY GURAJADA,VIZIANAGARAM</h3>
    <h3>COLLEGE OF ENGINEERING, VIZIANAGARAM(AUTONOMOUS)</h3>
    <h4>DWARAPUDI, VIZIANAGARAM, ANDHRA PRADESH - 535003.</h4>
   </div>

   <body>
   <div class="text-center"> 
    <form [formGroup]="myForm" >
        <h2>Welcome to Student Feedback System</h2>
        <p-button label="REGISTER" (onClick)="register()" class="mr-2"></p-button>
        <p-button label="LOGIN" (onClick)="login()"></p-button>
    </form>
    </div> 
</body>