<div class="login-form">
    <div class="p-grid">
      <form [formGroup]="resetForm">
      <div class="p-col-12">
        <label for="username"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
        <input type="text" id="username" pInputText formControlName="username" style="width: 250px;" required>
      </div><br>
      <div class="p-col-12">
        <label for="oldpassword"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Old Password:&nbsp;&nbsp;</b></label>
        <input type="password" id="oldpassword" pInputText pPassword formControlName="oldPassword" style="width: 250px;" required>
      </div><br>
      <div class="p-col-12">
        <label for="newpassword"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Password:&nbsp;</b></label>
        <input type="password" id="newpassword" pInputText pPassword formControlName="newPassword" style="width: 250px;" required>
      </div><br>
      <div class="p-col-12">
        <button pButton type="button" label="Submit" (click)="login()"></button>
        </div>
      </form>
  
    </div>
  
  