<!-- <app-registeration></app-registeration>
<app-feedbackform></app-feedbackform>
<app-welcomepage></app-welcomepage>
<app-loginform></app-loginform> -->
<!-- <p-table [value]="rowData">
    <ng-template pTemplate="header">
        <tr>
            <th>Rollnumber</th>
        <th>Name</th>
        <th></th>
        <th>mail</th>
        <th>role</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-e>
        <tr>
            <td>{{e.id}}</td>
        <td>{{e.name}}</td>
        <td>{{e.age}}</td>
        <td>{{e.email}}</td>
        <td>{{e.role}}</td>
        </tr>
    </ng-template>
 </p-table> -->
 <router-outlet></router-outlet>